[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
python-algebra = {editable = true, path = "."}
hypothesis = "*"
pytest = "*"
mypy = "*"
flake8 = "*"
pipenv = "*"

[requires]
python_version = "3.9"
